* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer .footer-Social-Links a i {
    color: gray;
}

footer .footer-Social-Links a:hover i {
    transform: scale(1.4);
    color: ;


}

footer {
    font-family: 'Poppins', sans-serif;
}